@{
    ViewData["Title"] = "Home Page";
}
<div class="back">


    <div class="site_body">
    </div>

    <div class="site_footer">
        <div class="delivery">
            <div class="delivery_car" />
            <div class="delivery_method">
                <ul>
                    <li>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>