<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PizzaSite</title>

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="navigate">
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Some pizza</a></li>
            <li><a asp-controller="Home" asp-action="Menu">Меню</a></li>
            <li><a asp-controller="Home" asp-action="Info">Інфо</a></li>
            <li><a asp-controller="Home" asp-action="About">Про нас</a></li>
        </ul>
    </div>


    @RenderBody()

    <div id="nbottom">
        <ul>
            <li><img src="~/images/delivery3.png" height="50" width="50"></li>
            <li>
                <p>Самовивіз</p>
                <p>Самовиніс</p>
                <p>Glovo</p>
            </li>
            <li><img src="~/images/payment.png" height="50" width="50"></li>
            <li>
                <p>Готівка</p>
                <p>Картка</p>
                <p>Перерахунок</p>
            </li>
        </ul>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>


</html>
